.dark-mode {
  background-color: #212121;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #212121;
}

.light-mode a:visited {
  text-decoration: none;
  color: black;
}

.light-mode a:hover {
  text-decoration: none;
  color: black;
}

.light-mode a:focus {
  text-decoration: none;
  color: black;
}

.light-mode a:hover {
  text-decoration: none;
  color: black;
}

.dark-mode a:visited {
  text-decoration: none;
  color: white;
}

.dark-mode a:hover {
  text-decoration: none;
  color: white;
}

.dark-mode a:focus {
  text-decoration: none;
  color: white;
}

.dark-mode a:hover {
  text-decoration: none;
  color: white;
}

